.add {
	margin: 20px;
}

.btn-light {
	color: black;
}

.pfp {
	border-radius: 50%;
}

span {
	display: inline;
	width: 100px;
	height: 100px;
	padding: 16px;
	background-color: #44ad45; 
}

.block {
	width: 45px;
	height: 50px;
	padding: 0px;
}

.check {
	padding: 0px;
	width: 45px;
	height: 50px;
	background-color: #00ff00;
	color: #00ff00;
}

.destroyed {
	padding: 0px;
	width: 45px;
	height: 50px;
	background-color: #ebdfc3;
	color: #ebdfc3;
}