{% extends "layout.html" %}

{% set active_page = "play" %}

{% block title %}page2{% endblock %}

{% block content %}

	<h1>This is Page 2</h1>
	<br>
	<span>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	</span>
	<br>
	<span>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	</span>
	<br>
	<span>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	</span>
	<br>
	<span>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	</span>
	<br>
	<span>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	</span>
	<br>
	<span>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	<button type="button" class="btn btn-lg btn-success text-success block">.</button>
	</span>
{% endblock %}
